<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<h1>Bienvenue sur le site de la SAE Projet intégratif</h1>
<a href="/SAE_APP/APP/ajout">Ajouter un capteur</a>
<ol>
    {% for l in liste %}
        <li>{{l}} <a href="/SAE_APP/APP/affiche/{{l.id}}">Afficher les informations</a>
             <a href="/SAE_APP/APP/update/{{l.id}}">Actualiser les informations</a>
             <a href="/SAE_APP/APP/delete/{{l.id}}">Effacer les informations</a>
        </li>
    {% endfor %}
</ol>
</body>
</html>