/* style.css */
body {
    margin: 0;
    background-color: green;
    color: #333;
    font-family: Arial, sans-serif;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color:lime;
    padding: 10px;
}

.navigation img {
    max-width: 10%;
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

.navigation ul li {
    font-size: 20px;
    margin: 10px;
}

.navigation ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: lime;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background-color: lime;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container {
    padding: 20px;
}

.capteur-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.capteur-card h2 {
    margin-top: 0;
}

.capteur-card h3 {
    margin: 10px 0;
    color: #555;
}

.donnee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.donnee-table th, .donnee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.donnee-table th {
    background-color: #f2f2f2;
    color: #333;
}

.donnee-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.donnee-table tr:hover {
    background-color: #f1f1f1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #333;
    color: #fff;
    text-align: center;
}